<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ImageUploader{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>

<body class="bg-dark">
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm">
            <ul class="nav flex-column navbar-dark bg-dark">
                <li class="nav-item">
                    <a href="{{ path('uploader_new') }}">Bild heraufladen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Item 4</a>
                </li>
            </ul>
        </div>
        <div class="col-11">
            {% block body %}{% endblock %}

        </div>
    </div>
</div>


{% block javascripts %}{% endblock %}
</body>
</html>
